services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: postgres_db
    environment:
      POSTGRES_USER: winedefaultuser
      POSTGRES_PASSWORD: Gmkb1zRq1JNIa8nb
      POSTGRES_DB: mlflowdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - ml_network
  
  prefect_db:
    image: postgres:18.0-alpine3.22
    container_name: prefect_postgres_db
    environment:
      POSTGRES_USER: prefectuser
      POSTGRES_PASSWORD: 7x3GjWI3skgVGV6H
      POSTGRES_DB: prefectdb
    ports:
      - "5433:5432"
    volumes:
      - ./prefect-postgres-data:/var/lib/postgresql/data
    networks:
      - ml_network
  
  mlflow:
    build: ./mlflow_server
    container_name: mlflow_server
    volumes:
      - ./mlflow_server/local:/mlflow
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - ml_network

  prefect:
    #image : prefecthq/prefect:3.5.0-python3.12-conda
    build: ./prefect_server
    container_name: prefect_server
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: postgresql+asyncpg://prefectuser:7x3GjWI3skgVGV6H@prefect_db:5432/prefectdb
    ports:
      - "4200:4200"
    depends_on:
      - prefect_db
    networks:
      - ml_network
    healthcheck:
      test: ["CMD-SHELL", "python -c 'import requests; requests.get(\"http://127.0.0.1:4200/api/health\")' || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s
  
  pipeline:
    build: ./pipeline
    container_name: wine_quality_pipeline_train
    environment:
      PREFECT_API_URL: http://prefect:4200/api
    networks:
      - ml_network
    depends_on:
      mlflow:
        condition: service_started
      prefect:
        condition: service_healthy
    restart: unless-stopped
      
  api:
    build: ./api
    container_name: wine_quality_api
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - db
      - mlflow
    restart: unless-stopped
    networks:
      - ml_network

  swagger-ui:
    image: swaggerapi/swagger-ui:v5.17.14
    container_name: swagger_ui
    ports:
      - "8080:8080"
    environment:
      - SWAGGER_JSON=/app/swagger/swagger.yaml
    volumes:
      - ./swagger.yaml:/app/swagger/swagger.yaml
    networks:
      - ml_network
    depends_on:
      - api

networks:
  ml_network:
