services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: postgres_db
    environment:
      POSTGRES_USER: winedefaultuser
      POSTGRES_PASSWORD: Gmkb1zRq1JNIa8nb
      POSTGRES_DB: mlflowdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - ml_network
  
  mlflow:
    build: ./mlflow_server
    container_name: mlflow_server
    volumes:
      - ./mlflow_server/local:/mlflow
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - ml_network

  prefect:
    #image : prefecthq/prefect:3.5.0-python3.12-conda
    build: ./prefect_server
    container_name: prefect_server
    ports:
      - "4200:4200"
    depends_on:
      - db
    networks:
      - ml_network
  
  pipeline:
    build: ./pipeline
    container_name: wine_quality_pipeline_train
    environment:
      PREFECT_API_URL: http://prefect:4200/api
    networks:
      - ml_network
    depends_on:
      - mlflow
      - prefect
  
#  api:
#    build: ./api
#    container_name: wine_quality_api
#    ports:
#      - "8000:8000"
#    depends_on:
#      - db
#      - mlflow
#      - prefect

networks:
  ml_network:
